{{#each plants as |plant|}}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card border-dark mb-3">
        <div class="card-header">
          {{common_name}}
        </div>
        <div class="card-body">
          <p class="card-text"><b>Scientific Name: </b>{{scientific_name}}</p>
          <p class="card-text"><b>Growth Habit: </b>{{growth_habit}}</p>
          <p class="card-text"><b>Life Cycle: </b>{{life_cycle}}</p>
          <p class="card-text"><b>Light Requirements: </b>{{light_reqs}}</p>
          <p class="card-text"><b>Water Requirements: </b>{{water_reqs}}</p>
          <a href="/plants/{{id}}" class="btn btn-light border border-dark">Go to plant</a>
        </div>
        <div class="card-footer"><small class="text-muted">Created
            {{format_date date_created}} by {{user.username}}</small></div>
      </div>
    </div>
  </div>
</div>
{{/each}}
