<div class="d-flex flex-sm-column">

  <div class="plant-navbar col-sm-3">
    <h4>Plant Parenthood: Plant Details</h4>
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#section1">Home</a></li>
      <li><a href="#section2">Friends</a></li>
      <li><a href="#section3">Family</a></li>
      <li><a href="#section3">Photos</a></li>
    </ul>
    <br>
    <br>
    <!-- <div class="search-notes input-group">
      <input type="text" class="form-control" placeholder="Search Notes..">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div> -->
    <div class="recent-notes-sidebar">
      <h4><small>RECENT NOTES</small></h4>
      <hr>
      <a href="#"><span>12/22/23</span></a> <!--add timestamp built-in fx-->
      <p>Lorem ipsum dolor sit amet...</p>
    </div>
    <hr>
  </div>

  <div class="plant-main col-9">

    <div class="plant-details">
      <div class="row">
        <div class="col-md-6">
          <div class="card border-dark mb-3">
            <h2 class="card-header">{{common_name}}</h2>
            <div class="card d-flex justify-content-between">
              <img src="assets/images/rosePlant.jpg" style="width: 50%">
              <div>
                <p class="card-text"><b>Scientific Name: </b>{{scientific_name}}</p>
                <p class="card-text"><b>Growth Habit: </b>{{growth_habit}}</p>
                <p class="card-text"><b>Life Cycle: </b>{{life_cycle}}</p>
                <p class="card-text"><b>Light Requirements: </b>{{light_reqs}}</p>
                <p class="card-text"><b>Water Requirements: </b>{{water_reqs}}</p>
              </div>
            </div>

            <div class="card-footer"><small class="text-muted">Created
                {{format_date date_created}} by {{user.username}} |
                <a href="#" class="update-post" data-id="{{id}}">Update</a> | <a href="#" class="delete-post"
                  data-id="{{id}}">Delete</a> </small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div class="notes-today">
      <h4><small>Today's Notes</small></h4>
      <hr>
      <span>- timestamp saved -<!--{{}} timestamp when saved; helper.js date module--></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
    </div>

    <hr>
    <br>

    <footer class="create-note card-footer">
      <hr>
      <h4>Create a Note:</h4>
      <form role="form">
        <div class="form-group">
          <textarea class="form-control" rows="3" required> Lorem ipsum dolor...</textarea>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
      </form>
    </footer>

    <!-- <h4>Upload Picture:</h4>
                <div class="frame">
                    <div class="center">
                        <div class="dropzone">
                            <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                            <input type="file" class="upload-input" />
                        </div>
                        <button type="button" class="btn" name="uploadbutton">Upload file</button>
                    </div>
                </div> -->

  </div>

  <script src="/js/plant.js"></script>